.comparisons-section{
    display: block;
}

.comparisons-section .dividing-line{
    position: relative;
    display: block;
    width: 10px;
    left: 50%;
    height: 50px;
    top: 0;
    margin-left: -1px;
    border-left: 1px solid #dddddd;
}

@media screen and (min-width: 900px) {
    .comparisons-section .dividing-line{
        height: 150px;
    }
}

.comparisons-section .how-big{
    border: 1px solid #dddddd;
    color: #999;
    font-size: 36px;
    position: relative;
    text-align: center;
    padding: 40px;
    width: 55vw;
    margin: auto;
    font-weight: 100;
}


