.comparison-legend{
    width: 90%;
    margin: auto;
    border: 1px solid #dddddd;
    position: relative;
    padding: 12px 20px;
}

.comparison-legend .dem{
    text-align: left;
}

.comparison-legend .rep{
    text-align: right;
}

.comparison-legend p{
    display: inline-block;
    box-sizing: border-box;
}

.comparison-legend p.dem-desktop{
    display: none;
}

@media screen and (min-device-width: 900px) {
    .comparison-legend p.dem-desktop{
        display: inline-block;
    }
    .comparison-legend p.dem-mobile{
        display: none;
    }
    .comparison-legend{
        width: 47vw;
    }
    .comparison-legend .dem{
        text-align: left;
        padding-left: 15px;
    }

    .comparison-legend .rep{
        text-align: right;
        padding-right: 15px;
    }

    .comparison-legend p{
        width: 50%;
    }
}




.comparison-legend p span{
    vertical-align: middle;
}
.comparison-legend .legend-text{
    height: 20px;
    display: inline-block;
}

