.diff-section{
    border: 1px solid #dddddd;
    color: #396AD8;
    font-weight: 900;
    margin: auto;
    margin-top: 30px;
    width: 80vw;
    padding: 20px;
}

.diff-section.red{
    color: #d32939;
}

.diff-section.purple{
    color: #9C57AD;
}


.diff-section .number{
    font-size: 60px;
}

.diff-section .number-exp{
    font-size: 24px;
}

@media screen and (min-width: 600px) {
    .diff-section .number{
        font-size: 75px;
    }
    .diff-section .number-exp{
        font-size: 32px;
    }
}
@media screen and (min-width: 800px) {
    .diff-section .number{
        font-size: 80px;
    }
    .diff-section .number-exp{
        font-size: 32px;
    }
}

@media screen and (min-width: 900px) {
    .diff-section{
        border: 1px solid #dddddd;
        color: #396AD8;
        font-weight: 900;
        margin: auto;
        margin-top: 35px;
        width: 55vw;
        padding: 40px;
    }
    .diff-section .number{
        font-size: 100px;
    }
    .diff-section .number-exp{
        font-size: 35px;
    }
}

@media screen and (min-width: 990px) {
    .diff-section .number{
        font-size: 105px;
    }
    .diff-section .number-exp{
        font-size: 35px;
    }
}


@media screen and (min-width: 1100px) {
    .diff-section .number{
        font-size: 120px;
    }
    .diff-section .number-exp{
        font-size: 45px;
    }
}

@media screen and (min-width: 1200px) {

    .diff-section .number{
        font-size: 142px;
    }
    .diff-section .number-exp{
        font-size: 48px;
    }
}

