.diff-section{
    border: 1px solid #dddddd;
    color: #396AD8;
    font-weight: 900;
    margin: auto;
    margin-top: 20px;
    width: 80vw;
    padding: 20px;
}

.diff-section.red{
    color: #d32939;
}

.diff-section .number{
    font-size: 60px;
}

.diff-section .number-exp{
    font-size: 24px;
}
@media screen and (min-device-width: 900px) {
    .diff-section{
        border: 1px solid #dddddd;
        color: #396AD8;
        font-weight: 900;
        margin: auto;
        margin-top: 20px;
        width: 55vw;
        padding: 40px;
    }

    .diff-section .number{
        font-size: 142px;
    }
    .diff-section .number-exp{
        font-size: 48px;
    }
}

