.time-since-section{
    border: 1px solid #dddddd;
    color: #999;
    font-size: 12px;
    width: 70vw;
    padding: 10px 0px;
    margin: auto;
    margin-top: -1px;
}

@media screen and (min-width: 900px) {
    .time-since-section{
        border: 1px solid #dddddd;
        color: #999;
        font-size: 12px;
        width: 15vw;
        padding: 10px 15px;
        margin: auto;
        margin-top: -1px;
    }
}
