.year-select{
    color: #999;
    position: relative;
    margin: auto;
    top: 50px;
    text-align: center;
}

.star-right{
    float: right;
    margin-top: 15px;
    display: none;
}

.star-left{
    float: left;
    margin-top: 15px;
    display: none;
}

@media screen and (min-width: 900px) {
    .star-right{
        display: inline-block;
    }

    .star-left{
        display: inline-block;
    }
    .year-select{
        top: 0;
    }
}
