.App {
  margin-top: 0;
  text-align: center;
  /*width: 100vw;*/
}

.header{
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #eeeeee;
  margin-bottom: 80px;
  display: block;
  margin-top: 0;
  height: 50px
}

@media screen and (min-device-width: 900px) {
  .header{
    margin-bottom: 50px;
  }
}

.year-select{
  display: inline-block;
  margin: auto;
}

h1{
  margin: 0;
  position: absolute;
  top: 0;
  left: 20px;
  text-align: left;
  display: inline-block;
  color: #999999;
  font-size: 18px;
  padding: 15px;
  font-weight: 900;
}

p{
  color: #999999;
  margin: 0;
  font-weight: 300;
}
.blue-text{
  color: #396AD8;
  font-weight:900;
}
.red-text{
  color: #d32939;
  font-weight:900;
}
.star{
  content: "0x2605";
  width:20px;
  height: 20px;
}

/*.tally-container{
  display: inline-block;
}*/
