.App {
  margin-top: 0;
  text-align: center;
  /*width: 100vw;*/
}

h1{
  background-color: #eeeeee;
  color: #999999;
  margin-top: 0;
  font-size: 18px;
  padding: 15px;
  font-weight: 900;
  margin-bottom: 50px;
  display: block;
}

p{
  color: #999999;
  margin: 0;
  font-weight: 300;
}
.blue-text{
  color: #396AD8;
  font-weight:900;
}
.red-text{
  color: #d32939;
  font-weight:900;
}
.star{
  content: "0x2605";
  width:20px;
  height: 20px;
}

/*.tally-container{
  display: inline-block;
}*/
